<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mytheresaparser</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body>


    <div class="container">
    {% include "products/navbar.html" %}
      <div class="row">
        <div class="col-sm-8 blog-main">
          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
</body>
</html>