{% extends "products/base.html" %}
{% block main %}
        <form method="post" action="">
            {%csrf_token%}
            <button class="btn btn-info" type="submit">parse mytheresa</button>
        </form>
{% endblock %}