{% block navbar %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" href="/">main</a>
        <a class="nav-link" href="/products">parsed products</a>
   </nav>
{% endblock %}