{% extends "products/base.html" %}

{% block main %}

    <table class="table">
            <tr>
                <th>Name</th>
                <th>Item Number</th>
                <th>Brand</th>
                <th>Sizes</th>
                <th>Size Description</th>
                <th>Price</th>
                <th>Details</th>
                <th>Images</th>
                <th>Url</th>
            </tr>
            {% for item in object_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.item_number }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.sizes }}</td>
                    <td>{{ item.size_description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.details }}</td>
                    <td>{{ item.images }}</td>
                    <td>{{ item.url }}</td>
                </tr>
            {% empty %}
                <li>No data yet.</li>
            {% endfor %}
        </table>
{% endblock %}
